<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgchem.cms.template.mapper.TemplateMapper">
	<select id="selectTemplate" parameterType="int" resultType="TemplateVO">
		select idx, html, css from template order by idx desc LIMIT 1
	</select>
	
	<insert id="insertTemplate" parameterType="TemplateVO">
		 INSERT INTO template (html, css)
		 	values (#{html}, #{css})
	</insert>
</mapper>